@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #f8f8f8;
}

.sticky-social{
    position:fixed;
    top:20px;
    left:-40px;
    padding:0px;
    margin:0px;
  }
  .social{
    list-style:none;
  }
  .social li{
    padding:10px 10px;
    font-size:12px;
    transition:all 0.8s ease-in-out;
  }
  .social li:hover{
      margin-right:-8px;
   box-shadow:2px 5px 10px grey;
  }
  .social li:hover .fa{
      margin-left:8px;
    
  }
  .fa{
    color:#fff;
    transition:all 0.8s ease-in-out;
  }
  .fb{
    background-color:#3C5A98;
  }
  .twitter{
      background-color:#1EA1F2;
  }
  .insta{
      background-color:#DC4F42;
  }
  .pin{
      background-color:#CB2128;
  }
  .vim{
      background-color:#59BFBE;
  }